body {
    font-family:Arial, Helvetica, sans-serif; 
    background-color: powderblue; 
    background-image: url('../images/tristen-lee-nvlanP72Ew0-unsplash.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh; 
}
/*header*/
.header {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px;   
}
.container {
    display: flex; 
    flex-flow: row wrap;  
}
.current { 
    display: flex; 
    flex-flow: column wrap; 
}
.forecast {
    display: flex; 
    flex-flow: column wrap;  
}

h3 {
    margin: 10px; 
}
.city-search {
    padding: 5px;  
}
.saved-city { 
    margin: 10px;
    padding: 5px;  
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
